
html {
    box-sizing: border-box;
    font-size: 10px;
}


*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
}



body.loggedIn header ul li.loggedIn {
    display: inline-block;
}

body.loggedIn header ul li.loggedOut {
    display: none;
}



header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 54px;
}

header a img {
    color: white;

}

header ul li.loggedIn {
    display: none;
}

footer {
    background-color: black;
    color: white;
    height:54px;
    text-align: center;
    margin-top: 40px;
    font-size: 1.75rem;
    letter-spacing: 0.5;
  
    
}

.copyright {
   margin-top: 5px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 1.5em;
    list-style-type: none;
}

header ul li {
    margin: 3.5px;
}

header ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: .75px;
}

.logo {
    margin-left: 1.5em;
}

.main {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:calc(100% - 144px)
}

.main-selection{
    display: flex;
    align-self: center;
   flex-direction: column;
   color:white;
   text-align: center;
   height: 200px;
   justify-content: space-between;
   background-color: gray;
   font-size: 1.75rem;
   
}

.blurb {
    margin: 5rem 2rem 0 2rem;
    letter-spacing: 0.75;
    text-align: center;
}

.cta,
a.cta:hover,
a.cta:active,
a.cta:visited,
button.cta:hover,
button.cta:active,
button.cta:visited{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
   
   
}

.ctawrapper{
  margin-bottom: 30px;
}


.cta.blue {
    background-color: #214478 !important;
}

.cta.green {
    background-color: #217844 !important;
}

.cta.red {
    background-color: #c83737 !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 500px;
    margin: 0 auto;
    color: #fff;
    
}

label {
    float: left;
    width: 25rem;
    vertical-align: top;
    text-align: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-radius: 2px;
    border: none;
    background-color: #fff;
    height: 2.0rem;
    margin-left: 1rem;
}

table {
    border-collapse: collapse;
}

.menu-list table {
    margin: 0 auto;
    width:35%;
    margin-top: 2rem;
}

/* .menu-list thead th{
    
} */

.menu-list thead th {
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    background-color:#217844;
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    background: linear-gradient(to bottom, #217844, #217871)
}

.menu-list th, .menu-list td {
    font-size: 1.5rem;
    border: 1px solid #217844;
    padding: 3px 7px 2px 7px;
}





.formSuccess {
    display: none;
    background-color: #217844;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #35c06d;
    border-width: 2px;
    border-style: solid;
}