<h1>Account Settings</h1>

<hr/>
<div class="formWrapper">
    <form id="accountEdit1" action="/api/users" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="formError"></div>
        <div class="formSuccess">Your Changes Have Been Saved</div>
        <label for="hiddenEmail">
          Email
            <input class="hiddenEmail" type="email" name="email" placeholder="john@example.com" disabled>
        </label>
        <label for="firstName">
            First Name
            <input class="firstNameInput" type="text" name="firstName" placeholder="John">
        </label>
        <label for="lastName">
            Last Name
            <input class="lastNameInput" type="text" name="lastName" placeholder="smith">
        </label>

        <label for="phone">
            Phone
            <input class="phoneInput" type="text" name="phone" placeholder="(415) 123-4567" />
        </label>
        <label for="address">
            Address
            <input class="addressInput" type="text" name="address" placeholder="1 Borwick Grove" />
        </label>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Get Started</button>
        </div>

    </form>
</div>

<hr/>
<h2>Delete Your Account</h2>

<div class="formWrapper">
    <form id="accountEdit2" action="api/user" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="formError"></div>
        <div class="formSuccess">Your Changes Have Been Saved</div>
        <label for="email">
           Email
            <input class="hiddenUserName" type="email" name="email" placeholder="john@example.com" disabled>
        </label>
        <label for="password">
            choose a new password
            <input type="password" name="password" placeholder="Make it a good one" />
        </label>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Get Started</button>
        </div>
    </form>
</div>

<div class="formWrapper">
    <form id="accountEdit3" action="api/user" method="DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <div class="formError">
        <label for="email">
            Email
            <input class="hiddenUserName" name="email" placeholder="john@example.com" type="text" disabled>
        </label>
         <div class="inputWrapper ctaWrapper">
             <button type="submit" class="cta blue">Get Started</button>
        </div>
        </div>
    </form>
</div>