<h1>Create Your Account here</h1>
<h2>Signup is easy and only takes a few seconds</h2>

<div class="formWrapper">
    <form  method="/api/users" method="POST">
        <div class="formError"></div>
        <label for="userName">
            User Name
            <input type="text" name="userName" placeholder="johnsmith">
        </label>
        <label for="firstName">
            First Name
            <input type="text" name="firstName" placeholder="John">
        </label>
        <label for="userName">
            Last Name
            <input type="text" name="userName" placeholder="smith">
        </label>
        <label for="email">
            Email
            <input type="email" name="email" placeholder="John@example.com">
        </label>
        <label for="phone">
            Phone
            <input type="text" name="phone" placeholder="(415) 123-4567" />
        </label>
        <label for="password">
            Password
            <input type="password" name="password" placeholder="Make it a good one" />
        </label>
        <label for="Address">
            Address
            <input type="text" name="Address" placeholder="1 Borwick Grove" />
        </label>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Get Started</button>
        </div>

    </form>
</div>