<h1>Account Settings</h1>

<hr/>
<div class="formWrapper">
    <form id="accountEdit1" action="/api/users" method="POST">
        <div class="formError"></div>
        <div class="formSuccess">Your Changes Have Been Saved</div>
        <label for="userName">
            User Name
            <input type="text" name="displayUserName" placeholder="johnsmith" disabled>
        </label>
        <label for="firstName">
            First Name
            <input type="text" name="firstName" placeholder="John">
        </label>
        <label for="lastName">
            Last Name
            <input type="text" name="lastName" placeholder="smith">
        </label>
        <label for="email">
            Email
            <input type="email" name="email" placeholder="John@example.com">
        </label>
        <label for="phone">
            Phone
            <input type="text" name="phone" placeholder="(415) 123-4567" />
        </label>
        <label for="address">
            Address
            <input type="text" name="address" placeholder="1 Borwick Grove" />
        </label>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Get Started</button>
        </div>

    </form>
</div>

<div class="formWrapper">
    <form id="accountEdit2" action="api/user" method="POST">
        <div class="formError"></div>
        <div class="formSuccess">Your Changes Have Been Saved</div>
        <label for="password">
            choose a new password
            <input type="password" name="password" placeholder="Make it a good one" />
        </label>
        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta blue">Get Started</button>
        </div>
    </form>
</div>