<h1>Shopping Card</h1>
<h2>You can store up to 3 orders</h2>
<hr/>
<div class="menu-list">
    <table id="shoppingCartTable">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Sub Total</th>
                <th>Details</th>
                <th>Place Order</th>
            </tr>
        </thead>
        <tbody>
            <tr id="noOrdersMessage" class="table-list">
                <td colspan="4">You have not placed an order, please make one!</td>
            </tr>
            
            
        </tbody>
    </table>
</div>

<div id="createOrder" class="ctaWrapper">
        <a class="order cta green" href="order/Create"> Order Create </a>
</div>